/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}


.attendance-container {
    background-color: white;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
}

.usn-input {
    padding: 1em;
    margin-bottom: 1em;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 1em 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

